<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}sf2QOTD : le meilleur du pire du chat{% endblock %}
        </title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/sf2qotdwebsite/css/main.css') }}" type="text/css" rel="stylesheet"/>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('bundles/sf2qotdwebsite/js/jquery/jquery-1.9.1.min.js') }}"></script>
            <script src="{{ asset('bundles/sf2qotdwebsite/js/counter.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div>sf2QOTD : le meilleur du pire du chat</div>
        <div id="sidebar">
                {% block sidebar %}
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('_website_top_ten') }}">Top 10</a></li>
                    <li><a href="{{ path('_website_flop_ten') }}">Flop 10</a></li>
                    <li><a href="{{ path('_website_random') }}">Au hasard</a></li>
                </ul>
                {% endblock %}
            </div>
    
            <div id="content">
                {% block body %}{% endblock %}
            </div>
            
        <div id="footer">
            <hr/>
            footer
        </div>
    </body>
</html>